---
layout: default
title : Home
navbar_title: Home
---
{% include widgets/editorial_hero.html %}

{% if site.data.display.homepage.show_selected_publications %}
    {% assign pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
    {%
        include widgets/editorial_publications.html
        publications=pubs
        title='<i class="fas fa-book-open"></i> Selected Publications &amp; Preprints'
    %}
{% endif %}

{% include widgets/talks_card.html %}
{% include widgets/research_background.html %}

{% include widgets/footprint_map.html %}
